<a href="https://colab.research.google.com/github/deepan-31/metadata-tool/blob/main/fuzzyc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install fuzzy-c-means
import numpy as np
from fcmeans import FCM
import pandas as pd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting fuzzy-c-means
  Downloading fuzzy_c_means-1.7.0-py3-none-any.whl (9.0 kB)
Requirement already satisfied: tabulate<0.9.0,>=0.8.9 in /usr/local/lib/python3.9/dist-packages (from fuzzy-c-means) (0.8.10)
Requirement already satisfied: tqdm<5.0.0,>=4.64.1 in /usr/local/lib/python3.9/dist-packages (from fuzzy-c-means) (4.65.0)
Requirement already satisfied: numpy<2.0.0,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from fuzzy-c-means) (1.22.4)
Collecting typer<0.5.0,>=0.4.0
  Downloading typer-0.4.2-py3-none-any.whl (27 kB)
Requirement already satisfied: pydantic<2.0.0,>=1.9.0 in /usr/local/lib/python3.9/dist-packages (from fuzzy-c-means) (1.10.6)
Collecting joblib<2.0.0,>=1.2.0
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 298.0/298.0 KB 21.6 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.9/dist-packages (from pydantic<2.0.0,>=1.9.0->fuzzy-c-means) (4.5.0)
Requirement already satisfied: click<9.0.0,>=7.1.1 in /usr/local/lib/python3.9/dist-packages (from typer<0.5.0,>=0.4.0->fuzzy-c-means) (8.1.3)
Installing collected packages: typer, joblib, fuzzy-c-means
  Attempting uninstall: typer
    Found existing installation: typer 0.7.0
    Uninstalling typer-0.7.0:
      Successfully uninstalled typer-0.7.0
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.1
    Uninstalling joblib-1.1.1:
      Successfully uninstalled joblib-1.1.1
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
pandas-profiling 3.2.0 requires joblib~=1.1.0, but you have joblib 1.2.0 which is incompatible.
Successfully installed fuzzy-c-means-1.7.0 joblib-1.2.0 typer-0.4.2

In [7]:
from sklearn.datasets import make_blobs
features, clusters = make_blobs(n_samples = 2000,
                  n_features = 10, 
                  centers = 5,
                  cluster_std = 0.4,
                  shuffle = True)

In [8]:
data = pd.DataFrame(features,clusters)

In [9]:
data.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
5    float64
6    float64
7    float64
8    float64
9    float64
dtype: object

In [10]:
data.columns

RangeIndex(start=0, stop=10, step=1)

In [12]:
data = data.apply(np.int64)

In [14]:
data

    0  1  2  3  4  5  6  7  8  9
3  -8  8 -1  5  8 -1 -3  2  0  0
0   6  0  9  3 -9  5 -8  6 -5 -8
3  -7  9 -2  5  9 -1 -3  2 -1  0
0   6  0  9  3 -8  6 -8  6 -6 -8
2  -6 -4 -6  4  0 -4  0 -5  7 -1
.. .. .. .. .. .. .. .. .. .. ..
0   7  0  9  2 -9  5 -8  6 -5 -8
0   6  0  9  3 -9  6 -6  6 -5 -8
1  -9 -2  0  4  1  2  4  4 -7 -2
0   6  0  9  3 -9  6 -7  6 -6 -8
0   6  0  9  4 -9  5 -7  6 -6 -8

[2000 rows x 10 columns]

In [13]:
x = np.array(data)

In [15]:
my_model = FCM(n_clusters=2)
my_model.fit(x)

In [16]:
centers = my_model.centers
labels = my_model.predict(x)

In [17]:
labels

array([1, 0, 1, ..., 1, 0, 0])